.header {
  @include flex(0, space-between, center);

  background: linear-gradient(to right, transparent, #000),
    url("../img/header-background.jpg") no-repeat left/cover;

  width: 100%;
  height: 100vh;

  &__hero {
    flex: 2;
  }

  &__presentation {
    @include flex(0, initial, initial, column);

    padding: map-get($spacings, 4) map-get($spacings, 4) map-get($spacings, 4) 0;

    flex: 1;
  }

  &__heading {
    margin: 0;
    margin-bottom: map-get($spacings, 1);

    font-size: 6.8rem;
    font-weight: 700;
  }

  &__subheading {
    margin: 0;
    margin-bottom: map-get($spacings, 4);

    font-size: 2.2rem;
    font-weight: 400;
    color: $color-primary;
  }

  &__buttons {
    @include flex(map-get($spacings, 2), space-between, center);

    width: 100%;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: map-get($spacings, 3);

  margin-top: map-get($spacings, 3);
  padding: map-get($spacings, 4);
}

.card {
  position: relative;

  height: 36rem;

  margin: 0;

  box-shadow: $shadow-grey-normal;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;

  &:hover > &__content {
    transform: scaleY(1);
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__content {
    @include flex(map-get($spacings, 4), center, center, column);

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    padding: map-get($spacings, 2) map-get($spacings, 3);

    background-color: rgba(0, 0, 0, 0.7);

    transition: $transition-primary;
    transform-origin: bottom;
    transform: scaleY(0);
  }

  &__heading {
    margin: 0;

    font-size: 2.8rem;
    color: $color-primary;
  }

  &__cta {
    text-transform: uppercase;
    font-weight: 600;
    color: $color-primary;
  }
}

.project {
  @include flex(0, initial, initial, column);

  width: 80%;

  background-color: $color-grey;

  border-radius: $border-radius;
  box-shadow: $shadow-grey-normal;

  &__img-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);

    height: 32%;

    overflow: hidden;
  }

  &__img {
    width: 100%;

    &:first-child {
      border-right: 1px solid $color-primary;
    }
  }

  &__content {
    @include flex(0, initial, center, column);

    position: relative;

    flex: 1;
    height: 100%;

    padding: map-get($spacings, 4);
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 50%;

    padding: map-get($spacings, 1) map-get($spacings, 2);
    margin: 0;

    color: $color-primary;
    font-size: $fs-large;
    text-transform: uppercase;

    background-color: $color-secondary;

    transform: translate(-50%, -50%);
    border-radius: $border-radius;
  }

  &__details {
    @include flex(map-get($spacings, 4), space-around, center);

    margin-bottom: map-get($spacings, 3);
  }

  &__details-item {
    @include flex(map-get($spacings, 2));

    font-size: $fs-small;
  }

  &__details-icon {
    color: $color-primary;
  }

  &__details-name {
  }

  &__description {
    margin-bottom: map-get($spacings, 4);

    hyphens: auto;
    text-align: center;
  }

  &__buttons {
    @include flex(map-get($spacings, 2));

    width: 80%;
  }
}

#section-contact {
  background-color: $color-grey-dark;
}

.contact {
  @include flex(map-get($spacings, 3), center, center, column);

  padding: map-get($spacings, 4) map-get($spacings, 5);

  &__item {
    @include flex(map-get($spacings, 3), space-between, center);

    position: relative;
    z-index: 1;

    color: $color-primary;

    transition: $transition-primary;

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;

      width: 100%;
      height: 100%;

      background-color: $color-primary;

      content: "";
      transform-origin: left;
      transform: scaleX(0);
      transition: all 0.2s cubic-bezier(0.88, 0.16, 0.59, 0.7);
    }

    &:hover::before {
      transform: scaleX(1);
    }

    &:hover {
      color: $color-black;
    }
  }

  &__icon {
    font-size: 5.2rem;
  }

  &__item-content {
    font-size: $fs-large;
  }
}
