.row {
  display: flex;
  flex-flow: row wrap;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.backdrop {
  @include flex(0, center, center);

  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  transition: $transition-primary;
}
